


<!DOCTYPE html>
<html>
  <head>
    <title>Chicago Iaido</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
	<link rel='stylesheet' href='bwstyle.css'/>
  </head>
  <body>
    <!-- SECTION 1-->
    <div class="jumbotron">
      <div class="container-fluid">  
        <div class="main">
        	<ul>
        		<li><%= link_to 'Blog', controller: 'articles' %></li>
        	</ul>
        	
            <h1>btc id</h1>
            <p>Buddhist Temple of Chicago Iaido Dojo</p>
<!--             <button type="button"><a href="about.html">enter</a></button> -->
        </div>
      </div>
    </div>
    </br>
    </br>
    </br>

    <!--SECTION-ABOUT 2-->
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
            <img class="img-responsive img-section1" src="img/14693_10206462083098049_8908974871885910332_n.jpg">
<!--             <div class="thumbnail">
              <img src="img/14693_10206462083098049_8908974871885910332_n.jpg">
            </div> -->
          </div>          
          <div class="col-xs-3"></div>
        </div><!--END ROW-->  
        </br>
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
            <h2>who we are</h2>
            <p>School of Traditional Japanese Swordsmanship. Our style of swordsmanship is called Muso Jikiden Eishin ryu.</p>
            <h2>history</h2>
            <p>Our school of iaido has been part of the Buddhist Temple of Chicago for over 30 years.</p>
            <h2>teachers</h2>
            <p>Jerry Morishige 7th dan</p>
            <p>Rev. Yukei Ashikaga 8th dan</p>
            <h2>location</h2>
            <p>Buddhist Temple of Chicago 1151 W Leland Ave, Chicago, IL 60640</p>
            <h2>class time</h2>
            <p>Mondays 7:30pm to 10:00pm</p>
          </div>  
          <div class="col-xs-3"></div>     
        </div><!--END ROW-->
      </div>      
    </div>
    </br>
    </br>
    </br>
    <!--SECTION-CONTACT 3-->
    <div class="contact">
      <div class="container">
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
            <img class="img-responsive" src="iaidophotos/IMG_1365.JPG">
<!--             <div class="thumbnail">
              <img src="iaidophotos/IMG_1365.JPG">  
            </div> -->
          </div>
          <div class="col-xs-3"></div>
        </div>
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
            <h2>contact</h2>
            <a class="contact" href="http://buddhisttemplechicago.org/about-us/contact-us/"><p>Please contact the Buddhist Temple of Chicago for more information regarding the BTC Iaido Group.</p></a>
            <h2>our parent organization</h2>
            <a class="contact" href="http://www.nichiiren.or.jp/"><p>Nippon Iaido Renmei</p></a>
            </div>
          <div class="col-xs-3"></div>
        </div>
      </div>
    </div>
    <!--SECTION 4-->
<!--     <div class="contact">
      <div class="container">
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
            <div class="thumbnail">
              <img src="iaidophotos/IMG_0459.JPG">  
            </div>
          </div>
          <div class="col-xs-3"></div>
        </div>
      </div>
    </div> -->

  </body>
</html>