<h1>Article-New template</h1>
<%= render 'form' %>

<%#= form_with scope: :article, url: articles_path, local: true do |form| %>
	<!-- If errors in article creation render error message in <li>. -->
	<!-- Check for errors. -->
	<%# if @article.errors.any? %>
<!-- 		<div id="error_explanation">
			<h2> -->
				<!-- Pluralize string "error" if errors.count is > 1.  -->
				<%#= pluralize(@article.errors.count, "error") %>
				<!-- prohibited this article from being saved: -->
			<!-- </h2>
			<ul> -->
				<!-- List all errors. -->
				<%# @article.errors.full_messages.each do |msg| %>
					<!-- <li><%#= msg %></li> -->
				<%# end %>
<!-- 			</ul>
		</div> -->
	<%#end %>

<!-- 	<p>
		<%#= form.label :title %><br>
		<%#= form.text_field :title %>
	</p>
	<p>
		<%#= form.label :text %><br>
		<%#= form.text_area :text %>
	</p>
	<p>
		<%#= form.submit %>
	</p> -->
<%# end %>

<%= link_to 'Back', articles_path %>